<div ng-controller="SignUpController" ng-init="getRoles()">
    <form class="form-login" role="form">
        <h2 class="form-login-heading">Sign up</h2>
            <label>Roles:</label>
            <select class="dropdown dropdown-toggle" ng-model="selectedRole" ng-options="item.name for item in roles"></select>
        <input type="text" class="form-control"
               placeholder="First name" data-ng-model="registration.FirstName" required autofocus>
        <input type="text" class="form-control"
               placeholder="Last name" data-ng-model="registration.LastName" required >
        <input type="text" class="form-control"
               placeholder="Username" data-ng-model="registration.UserName" required>
        <input type="password" class="form-control"
               placeholder="Password" data-ng-model="registration.PasswordHash" required>
        <input type="password" class="form-control"
               placeholder="Confirm Password" data-ng-model="confirmedPassword" required>
        <input type="text" class="form-control"
               placeholder="Email" data-ng-model="registration.Email" required>
        <input type="text" class="form-control"
               placeholder="Age" data-ng-model="registration.Age" required>
        <input type="text" class="form-control"
               placeholder="Address" data-ng-model="registration.Address" required>
        <input type="text" class="form-control"
               placeholder=Place data-ng-model="registration.Place" required>
        <button class="btn btn-lg btn-info btn-block"
                type="submit" data-ng-click="signUp()">
            Submit
        </button>
        <div data-ng-hide="message == ''"
             data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </form>
</div>