<body>
    <div class="container" [@fadeInAnimation]>
        <img src="assets/avatar.jpg" alt="Avatar">
        <form>
            <div class="form-input">
                <input type="text" name="username" placeholder="Username" [(ngModel)]="localUser.userName">
            </div>
            <div class="form-input">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="localUser.password">
            </div>
            <input type="submit" name="submit" value="LOG IN" class="btn-login" (click)="onLogin()">
            <div>
                <p class="message">Not Registered?
                    <a routerLink="/signup">Register</a>
                </p>
            </div>
    
        </form>
    </div>
</body>
