<div [formGroup]="questionGroup">
    <!--<div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="name">
    </div>-->
    <div class="form-group">
        <label>Type</label>
        <select class="form-control" name="type" formControlName="type"  [(ngModel)]="selectedType" (change)="onChange(selectedType)"> 
            <option *ngFor="let questionType of questionTypes" [ngValue]="questionType">
                {{questionType}}
            </option>
        </select>
    </div>
    <div [ngSwitch]="selectedType">
        <!--Text-->
        <div class="form-group" *ngSwitchCase="'Text'">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
            <label>Answer required?</label>
            <input type="checkbox" class="checkbox" formControlName="isRequired">
        </div>
        <!--Radiogroup-->
        <div class="form-group" *ngSwitchCase="'Radiogroup'">
            <hr />
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
            <label>Answer required?</label>
            <input type="checkbox" class="checkbox" formControlName="isRequired">
            <label>Choices</label>
            <div formArrayName="choices">
                <div *ngFor="let choice of questionGroup.controls.choices.controls; let i=index" class="panel panel-default">
                    <div>
                        <input type="text" class="form-control" formControlName="{{i}}">
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.choices.controls.length > 0" (click)="removeChoice(i)"></span>
                    </div>
                </div>
                <div class="margin-20">
                    <button (click)="addChoice()" class="btn btn-primary">
                        Add choice +
                    </button>
                </div>
            </div>
        </div>
        <!--Checkbox-->
        <div class="form-group" *ngSwitchCase="'Checkbox'">
            <hr />
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
            <label>Answer required?</label>
            <input type="checkbox" class="checkbox" formControlName="isRequired">
            <label>Choices</label>
            <div formArrayName="choices">
                <div *ngFor="let choice of questionGroup.controls.choices.controls; let i=index" class="panel panel-default">
                    <div>
                        <input type="text" class="form-control" formControlName="{{i}}">
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.choices.controls.length > 0" (click)="removeChoice(i)"></span>
                    </div>
                </div>
                <div class="margin-20">
                    <button (click)="addChoice()" class="btn btn-primary">
                        Add choice +
                    </button>
                </div>
            </div>
        </div>
        <!--Rating-->
        <div class="form-group" *ngSwitchCase="'Rating'">
            <hr />
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
            <label>Answer required?</label>
            <input type="checkbox" class="checkbox" formControlName="isRequired">
            <label>Minimum Rate Description</label>
            <input type="text" class="form-control" formControlName="minimumRateDescription" />
            <label>Maximum Rate Description</label>
            <input type="text" class="form-control" formControlName="maximumRateDescription" />
        </div>
        <!--Matrix-->
        <div class="form-group" *ngSwitchCase="'Matrix'">
            <hr />
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
            <label>Answer required?</label>
            <input type="checkbox" class="checkbox" formControlName="isRequired">
            <label>Columns</label>
            <div formArrayName="columns">
                <div *ngFor="let column of questionGroup.controls.columns.controls; let i=index" class="panel panel-default">
                    <div>
                        <label>Value</label>
                        <input type="text" class="form-control" formControlName="value">
                        <label>Text</label>
                        <input type="text" class="form-control" formControlName="text">
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.columns.controls.length > 0" (click)="removeColumn(i)"></span>
                        <div class="margin-20">
                            <button (click)="addColumn(i)" class="btn btn-primary">
                                Add column +
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <label>Rows</label>
            <div formArrayName="rows">
                <div *ngFor="let row of questionGroup.controls.rows.controls; let i=index" class="panel panel-default">
                    <div>
                        <label>Value</label>
                        <input type="text" class="form-control" formControlName="value">
                        <label>Text</label>
                        <input type="text" class="form-control" formControlName="text">
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.rows.controls.length > 0" (click)="removeRow(i)"></span>
                    </div>
                </div>
                <div class="margin-20">
                    <button (click)="addRow()" class="btn btn-primary">
                        Add row +
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--answers-->
    <!--<div formArrayName="answers">
        <div *ngFor="let answer of questionGroup.controls.answers.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Answer {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.answers.controls.length > 0" (click)="removeAnswer(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
                <app-answer [group]="questionGroup.controls.answers.controls[i]" [type]="selectedType"></app-answer>
            </div>
        </div>
    </div>-->
    <!--<div class="margin-20">
        <button (click)="addAnswer()" class="btn btn-primary">
            Add answer +
        </button>
    </div>-->
</div>
