<div [formGroup]="questionGroup">
    <!--<div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="name">
    </div>-->
    <div class="form-group" style="width: 50%; margin: 0 auto;">
        <label style="margin-top:10px">Type</label>
        <select class="form-control" name="type" formControlName="type" (change)="onChange()">
            <option *ngFor="let questionType of questionTypes" [ngValue]="questionType">
                {{questionType | capitalize }}
            </option>
        </select>
    </div>
    <div [ngSwitch]="selectedType">
        <!--Text-->
        <div class="form-group" *ngSwitchCase="'text'">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <label>Question Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-xs-6">

                    <label style="display: inline-block">Answer required?</label>
                    <input type="checkbox" class="checkmark" formControlName="isRequired">
                </div>

            </div>



        </div>
        <!--Radiogroup-->
        <div class="form-group" *ngSwitchCase="'radiogroup'">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <label>Question Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-xs-6">

                    <label style="display: inline-block">Answer required?</label>
                    <input type="checkbox" class="checkmark" formControlName="isRequired">
                </div>
            </div>

            <label>Choices</label>
            <div formArrayName="choices">
                <div *ngFor="let choice of questionGroup.controls.choices.controls; let i=index">
                    <div class="col-xs-6">
                        <label class="choice">{{i+1}}. Choice</label>
                        <input type="choiceInput" class="choiceInput" formControlName="{{i}}">
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.choices.controls.length > 2"
                            (click)="removeChoice(i)"></span>
                    </div>
                </div>
                <button (click)="addChoice()" class="addChoice">
                    Add choice +
                </button>
            </div>
        </div>
        <!--Checkbox-->
        <div class="form-group" *ngSwitchCase="'checkbox'">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <label>Question Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-xs-6">

                    <label style="display: inline-block">Answer required?</label>
                    <input type="checkbox" class="checkmark" formControlName="isRequired">
                </div>

            </div>

            <label>Choices</label>
            <div formArrayName="choices">
                <div *ngFor="let choice of questionGroup.controls.choices.controls; let i=index">
                    <div class="col-xs-6">
                        <label class="choice">{{i+1}}. Choice</label>
                        <input type="choiceInput" class="choiceInput" formControlName="{{i}}">
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="questionGroup.controls.choices.controls.length > 2"
                            (click)="removeChoice(i)"></span>
                    </div>
                </div>
            </div>
            <button (click)="addChoice()" class="addChoice">
                Add choice +
            </button>
        </div>
        <!--Rating-->
        <div class="form-group" *ngSwitchCase="'rating'">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <label>Question Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-xs-6">

                    <label style="display: inline-block">Answer required?</label>
                    <input type="checkbox" class="checkmark" formControlName="isRequired">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Minimum Rate Description</label>
                    <input type="text" class="form-control" formControlName="mininumRateDescription" />
                </div>
                <div class="col-xs-6">
                    <label>Maximum Rate Description</label>
                    <input type="text" class="form-control" formControlName="maximumRateDescription" />
                </div>
            </div>

        </div>
</div>