input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.mirko {
   margin-bottom: 10px;
}

.modal-backdrop.fade
   {
     opacity: 0.5;
   }
   .modal-open .modal
   {
     opacity: 1;
   }

   .checkmark {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    display: block;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 20px;
  }