<div class="container" [@fadeInAnimation] style="margin-bottom: 10%">
    <form [formGroup]="surveyForm">
        <h3>Add survey</h3>
        <hr />
        <div class="row" style="margin-bottom: 40px">
            <div class="col-xs-6">
                <label>* Name</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="col-xs-6">
                <label>* Organization</label>
                <input type="text" class="form-control" formControlName="organization">
            </div>
            <div class="col-xs-6">
                    <label>Activity period</label>
                    <input type="text" bsDaterangepicker class="form-control">
                </div>
        </div>

        <!-- <div class="form-group" style="margin-bottom: 50px">
            <div>
                <label>Activity period</label>
                <input type="text" bsDaterangepicker class="form-control">
            </div>
        </div> -->

        <!--questions-->
        <div formArrayName="pages">
            <div [formGroupName]="i" *ngFor="let page of getPages(surveyForm); let i = index; let last = last" class="panel panel-default">

                <div class="panel-body" formArrayName="questions">
                    <div *ngFor="let question of questionsArray; let j = index" class="panel panel-default" [@slideInOutAnimation]="state" [hidden]="question.hidden">
                        <div class="panel-heading">
                            <span>Question {{j + 1}}</span>
                            <span *ngIf="j!=0" class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" (click)="removeQuestion(i, j); questionsArray[j-1].hidden = !questionsArray[j-1].hidden"></span>
                        </div>
                        <!-- <app-question *ngIf='prevItem' [group]="questionsArray[j-1]"></app-question> -->
                        <app-question [group]="questionsArray[j]"></app-question>
                        <div class="margin-20">
                            <div *ngIf="j!=lastIndex">
                                <button (click)="nextQuestion(); question.hidden = !question.hidden; questionsArray[j+1].hidden = !questionsArray[j+1].hidden"
                                    class="btn btn-primary" style="float: right">
                                    Next question
                                </button>
                            </div>
                            <div *ngIf="j!=0">
                                <button (click)="previousQuestion(); question.hidden = !question.hidden; questionsArray[j-1].hidden = !questionsArray[j-1].hidden"
                                    class="btn btn-primary" style="float: left">
                                    Previous question
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="addQuestion(0); selectedQuestion.hidden = !selectedQuestion.hidden;" class="btn btn-success">
                Add question +
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#previewModal" (click)="onModalClick()" style="float: right;">
                Preview Survey
            </button>
        </div>

    </form>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:70%; height:auto">
            <div class="modal-content" style="width:auto;height:auto">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">Preview Survey</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="survey-container contentcontainer codecontainer">
                        <div id="surveyElement"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="!surveyForm.valid" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <h5>Details</h5>
    <pre>{{ surveyForm.value | json }}</pre> -->
</div>