<div class="container">
    <form [formGroup]="surveyForm">
    <h3>Add survey</h3>
    <hr />
    <div class="form-group" style="margin-bottom: 10%">
        <div class="col-xs-6">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="col-xs-6">
            <label>Organization</label>
            <input type="text" class="form-control" formControlName="organization">
        </div>
    </div>
    <!--<div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" formControlName="location">
    </div>-->
    <!--questions-->
    <div formArrayName="pages">
        <div [formGroupName]="i" *ngFor="let page of getPages(surveyForm); let i = index" class="panel panel-default" >

            <div class="panel-body" formArrayName="questions">
                <div *ngFor="let question of getQuestions(page); let j = index" class="panel panel-default">
                    <div class="panel-heading">
                        <span>Question {{j + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer"
                            (click)="removeQuestion(i)"></span>
                    </div>
                    <app-question [group]="question"></app-question>
                </div>
            </div>
            <div class="margin-20">
                <button (click)="addQuestion(i)" class="btn btn-primary">
                    Add question +
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#previewModal" 
        (click)="onModalClick()" style="float: right">
            Preview Survey
        </button>
    </div>
    </form>
    
    <!-- Button trigger modal -->
   

    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:70%; height:auto">
            <div class="modal-content" style="width:auto;height:auto">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">Preview Survey</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="survey-container contentcontainer codecontainer">
                        <div id="surveyElement"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="!surveyForm.valid" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <h5>Details</h5>
    <pre>{{ surveyForm.value | json }}</pre> -->
</div>