<div class="container" [@fadeInAnimation]>
    <h1>Register</h1>
    <form>
            <div class="form-input">
                    <input type="text" name="username" placeholder="Email" [(ngModel)]="localUser.email">
                </div>
        <div class="form-input">
            <input type="text" name="username" placeholder="Username" [(ngModel)]="localUser.userName">
        </div>

        <div class="form-input">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="localUser.passwordHash">
            </div>
            <div class="form-input">
                    <input type="password" name="password" placeholder="Confirm Password" [(ngModel)]="localUser.confirmPassword">
                </div>

        <div class="form-group">
            <select name="userRole" [(ngModel)]="localUser.userRole">
                <option value="" disabled selected>Select your role...</option>
                <option value="Ispitivac">Ispitivac</option>
                <option value="Ispitanik">Ispitanik</option>
            </select>
        </div>

        <input type="submit" name="submit" value="SIGN UP" class="btn-signup" (click)="onSignup()">

        <div>
                <p class="message">Already Registered?
                    <a routerLink="/signin">Log in</a>
                </p>
            </div>
    </form>
</div>